main#spapp > section {
  display: none;
}
main#spapp > section:last-child {
  display: block;
}
@keyframes appear {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}
main#spapp > section:target {
  display: block;
  animation: appear 0.1s linear 1;
}
main#spapp > section:target ~ * {
  display: none;
}
main#spapp > section {
  height: auto !important;
  min-height: 100vh;
  overflow: hidden;
}

#navbarDropdown2 {
  display: none;
}

@media (max-width: 400px) {
  #navbarDropdown2 {
    display: inline-block !important;
  }
}

#adminop2 {
  display: none;
}

@media (max-width: 500px) {
  #adminop {
    display: none;
  }
  #adminop2 {
    display: inline;
  }
}
